{% extends 'polls/header.html' %}
{% block metadata %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <title>Polls Home Page</title>
{% endblock %}

{% block content %}
    {% comment %} {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li>
                    <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls available.</p>
    {% endif %} {% endcomment %}
      <button
  hx-get="https://v2.jokeapi.dev/joke/Any?format=txt&safe-mode&type=single"
  hx-target="#joke-container"
>
  Make me laugh!
</button>

<p id="joke-container">Click the button to load a joke...</p>
{% endblock %}